@import "../../utils/style/libs/mixins.scss";
@import "../../utils/style/libs/variable.scss";

.banniere{
	overflow-y: hidden;
    overflow-x: hidden;
	z-index: 9;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	filter: drop-shadow(0px 11px 20px rgba(0, 0, 0, 0.25));

	.banniereTitle{
		font-family: "Archivo Black";
		margin: 15px 0 15px 0;
		font-size: 41px;
		color: $primary;
	}
}