@import "../../../src/utils/style/libs/mixins.scss";
@import "../../../src/utils/style/libs/variable.scss";

.entrepriseFamille {
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  height: fit-content;
  background-image: url(../../../public/img/gradient-blue-pink.png);
  background-size: cover;
  .title {
    margin: 45px 0 15px 0;
    position: relative;
    height: 4vh;
    z-index: 10;
    font-family: "Archivo Black";
    font-size: 47px;
    color: $primaryDark;
  }

  .frise15,
  .frise17,
  .frise19 {
    right: -1500px;
  }
  .frise16,
  .frise18,
  .frise20 {
    left: -1500px;
  }
  .frise15,
  .frise16,
  .frise17,
  .frise18,
  .frise19,
  .frise20 {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    margin: 4% 0 0 0;
    width: 200%;
    opacity: 0.1;
    filter: drop-shadow(5px 5px 5px #0000008e);
    transition: 1s;
  }
  .frise16 {
    margin: 10% 0 0 0;
  }
  .frise17 {
    margin: 18% 0 0 0;
  }
  .frise18 {
    margin: 26% 0 0 0;
  }
  .frise19 {
    margin: 34% 0 0 0;
  }
  .frise20 {
    margin: 42% 0 0 0;
  }
}

// ----------RESPONSIVE----------

@media screen and (max-width: 576px) {
  .entrepriseFamille {
    z-index: 0;
    position: relative;
    height: fit-content !important;
    background-image: url(../../../public/img/gradient-blue-pink.png);
    background-size: cover;
    .title {
      padding-top: 25px;
      position: relative;
      text-align: center;
      margin: auto;
      font-size: 23px !important;
    }
  
  }
	.frise15, .frise17, .frise19{
		right: -1500px;
	}
	.frise16, .frise18, .frise20{
		left: -1500px;
	}
	.frise15, .frise16, .frise17, .frise18, .frise19, .frise20{
		padding-top: 35px;
		overflow: hidden;
		z-index: 1;
		position: absolute;
		margin: 4% 0 0 0;
		width:200% !important;
		height: 150px !important;
		opacity: 1 !important;
		filter: drop-shadow(5px 5px 5px #0000008e);
		transition: 1s;
	}
	.frise16{
		
		margin: 10% 0 0 0;
	}
	.frise17{
		margin: 18% 0 0 0;
	}
	.frise18{
		margin: 26% 0 0 0;
	}
	.frise19{
		margin: 34% 0 0 0;
	}
	.frise20{
		margin: 42% 0 0 0;
	}
}


@media screen and (max-width: 768px) {
  .entrepriseFamille {
    z-index: 0;
    position: relative;
    height: fit-content;
    background-image: url(../../../public/img/gradient-blue-pink.png);
    background-size: cover;
    .title {
      padding-top: 35px;
	  padding-bottom: 35px;
      position: relative;
      text-align: center;
      margin: auto;
      font-size: 36px;
    }
  }
  .frise15, .frise17, .frise19{
	right: -1500px;
}
.frise16, .frise18, .frise20{
	left: -1500px;
}
.frise15, .frise16, .frise17, .frise18, .frise19, .frise20{
	padding-top: 10vh;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	width:800% !important;
	// height: 400px !important;
	opacity: 0.13 !important;
	filter: drop-shadow(5px 5px 5px #0000008e);
	transition: 1s;
}
.frise16{
	
	margin: 250px 0 0 0 !important;
}
.frise17{
	margin: 450px 0 0 0 !important;
}
.frise18{
	margin: 650px 0 0 0 !important;
}
.frise19{
	margin: 850px 0 0 0 !important;
}
.frise20{
	margin: 1050px 0 0 0 !important;
}
}
